*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Press Start 2P', cursive;
}

body{
    /* background: black; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(19, 19, 19); */
    color: purple;
}

.btn--container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: baseline;
}

#home-page-icon{
    height: 1.5rem;
}

.btn--container nav{
    z-index: 1;
    height: 2rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-purple-light);
}

.btn--container nav a:hover{
    transition: 0.5s;
    filter: brightness(120%);
    border-radius: 100%;
    box-shadow:
    0 0 5px var(--color-purple),
    0 0 7px var(--color-purple),
    0 0 10px var(--color-purple),
    0 0 12px var(--color-purple),
    0 0 15px var(--color-purple)
}

#btn-joystick{
    z-index: 1;
    right: 0;
    position: absolute;
    height: 4.5rem;
    cursor: pointer;
    border: 2px solid var(--color-blue);
    box-shadow: 0 0 .1rem #fff,
    0 0 .1rem #fff,
    0 0 1rem var(--color-purple),
    0 0 0.7rem var(--color-purple),
    0 0 1rem var(--color-purple),
    inset 0 0 0.5rem var(--color-purple); 
    background:#141e2c;
    border-radius: 10px;
}
  
#btn-joystick:hover{
    transition: 0.5s box-shadow, 0.2s font-size;
    /* background-color: var(--color-blue); */
    border: 2px solid var(--color-purple);
    font-size: 0.9rem;
    box-shadow: 0 0 .1rem #fff,
    0 0 .1rem #fff,
    0 0 1rem var(--color-blue),
    0 0 0.7rem var(--color-blue),
    0 0 1rem var(--color-blue),
    inset 0 0 0.5rem var(--color-blue); 
}
  
#img--joystick{
    height: 4rem;
}

.player-points{
    position:absolute;
    bottom:0;
    color:yellow;
}

.content{
    height: calc(100vh - 8rem);
    width: 100%;
    z-index: 0;
    position: fixed;
}

canvas{
    position: absolute;
}

#spShip{
    width: 100vw;
    height: 100vh;
}

/* modal */
#modal{
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    height: 10rem;
    width: 10rem;

    background-color: black;
    box-shadow: 0px 0px 5px 5px black;
}

.modal--confirmation{
    width: 100%;
}

.modal--confirmation button{
    height: 1.5rem;
    width: 6rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: darkgrey;
    border-radius: 5px;
    border: none;
}

#modalButton{
    font-size: x-small;
}