*{
  padding: 0;
  border: 0;
  cursor: var(--cursor-auto), auto;
}

body{
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.content{
  height: calc(100vh - 8rem);
  width: 100%;
  z-index: 0;
}

.game--title{
  transition: 1s;
  display: flex;
  justify-content: center;
  height: 2rem;
  animation: zoom-out 2s;
}

.game--title--h1{
  transition: 3s;
  color: var(--color-purple);
  text-shadow:
  0 0 6px #fff,
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 10px var(--color-purple),
  0 0 15px var(--color-purple),
  0 0 20px var(--color-purple),
  0 0 25px var(--color-purple),
  0 0 30px var(--color-purple)
}

.game--title--h1:hover{
  transition: 3s;
  text-shadow:
  0 0 6px #fff,
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 10px var(--color-blue),
  0 0 15px var(--color-blue),
  0 0 20px var(--color-blue),
  0 0 25px var(--color-blue),
  0 0 30px var(--color-blue)
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.btn--container{
  position: relative;
  width: 10rem;
  height: 3rem;
}

.btn--play{
  position: absolute;
  height: 3rem;
  width: 10rem;
  transition: 0.5s box-shadow, 0.2s font-size;;
  cursor: var(--cursor-pointer), pointer;
  font-size: 0.8rem;

  border: 2px solid var(--color-blue);
  box-shadow: 0 0 .1rem #fff,
  0 0 .1rem #fff,
  0 0 1rem var(--color-purple),
  0 0 0.7rem var(--color-purple),
  0 0 1rem var(--color-purple),
  inset 0 0 0.5rem var(--color-purple); 
  background:#141e2c;
  border-radius: 10px;
  color: var(--color-purple-light);
  z-index: 1;
}

.btn--play:hover{
  transition: 0.5s box-shadow, 0.2s font-size;
  /* background-color: var(--color-blue); */
  border: 2px solid var(--color-purple);
  font-size: 0.9rem;
  box-shadow: 0 0 .1rem #fff,
  0 0 .1rem #fff,
  0 0 1rem var(--color-blue),
  0 0 0.7rem var(--color-blue),
  0 0 1rem var(--color-blue),
  inset 0 0 0.5rem var(--color-blue); 
}

.btn--play:active{
  transition: 0s;
  height: 2.8rem;
  width: 9.8rem;
}

#welcome {
  width: 50%;
}

#welcome p{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-size: 0.7em;
  padding-left: 10px;
  line-height: 30px;
  animation: fadein 5s;
}


/* animation */
@keyframes zoom-out{
  0%{
    transform: scale(8,8);
  }
  100%{
    transform: scale(1,1);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
