*{
    padding: 0;
    border: 0;
    font-family: 'Press Start 2P', cursive;
}

body{
    background: black;
}

.btn--container{
    justify-content: center;
    display: flex;
    align-items: baseline;
}
.player-points{
    color:yellow;
}
body{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: rgb(19, 19, 19);
color: purple;
}

.content{
    height: calc(100vh - 8rem);
    width: 100%;
    z-index: 0;
    position: fixed;
  }

  canvas{
      position: absolute;
  }